.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #FEAE20;
  width: 100vw;
  height: 70vh;
  padding: 2em;
}

.colOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:50%;
  padding: 2em;
}

.hColumn {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: space-around;
}
.hTwo {
font-size: 2.3em;
padding: .5em 0em;
margin: .5em 0em;
font-weight: 100;
}

.hRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  width: 50%;
  font-family: 'Raleway', sans-serif;
}

.pRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  line-height: 2em;
  font-size: 23px;
}

.colTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  color: white;
  text-shadow:1px 1px 2px #292929;

  /* padding: 1em; */
}

.landingGifCont {
  padding: 1em;
  width: 100%;
  height: 100%;
}

.img {
  box-shadow: 2px 2px 10px #292929 !important;
  border-radius: 3px;
  height: 400px;

}