.main {
display: flex;
flex-direction: row wrap;
justify-content: center;
align-items: center;
width: 50vw;
}

.text{
  color:#088fc4;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  letter-spacing: .05em;
  text-shadow:1px 1px 2px #044762;
}

.textTwo{
  color: #088fc4;
}

.download{
  display: flex;
  justify-content: center;
  width: 100%;
}

.magnifyBorder {
  padding: 18px 36px;
  border-radius: 61px;
  border: solid 2px white;
  /* box-shadow: inset 0 0 0 2px hsl(198, 80%, 62%);
  transition: 300ms box-shadow cubic-bezier(0.4, 0, 0.6, 1), 300ms background-color cubic-bezier(0.4, 0, 0.6, 1), 300ms color cubic-bezier(0.4, 0, 0.6, 1);; */
  color: white;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  text-shadow:1px 1px 2px #292929;
  transition: .25s;
  margin: 0em 2em;
}

.magnifyBorder:hover {
  box-shadow:1px 1px 2px #292929;
  /* box-shadow: inset 0 0 0 4px rgba(255, 255, 255, .25); */
  /* color: hsl(196, 79%, 72%); */
transition: .25s;
  background-color: rgba(255, 255, 255, .25);
}
